api = "0.2"

[buildpack]
  id = "paketo-community/pip"
  name = "Paketo Pip Buildpack"
  version = "{{ .Version }}"

[metadata]
  include_files = ["bin/build", "bin/detect", "buildpack.toml"]
  pre_package = "./scripts/build.sh"

  [[metadata.dependencies]]
    id = "pip"
    sha256 = "da935b904abe6eae4b1f5e965988bcdc016259e68dfca31296a0328d445a1428"
    source = "https://files.pythonhosted.org/packages/cb/5f/ae1eb8bda1cde4952bd12e468ab8a254c345a0189402bf1421457577f4f3/pip-20.3.1.tar.gz"
    source_sha256 = "43f7d3811f05db95809d39515a5111dd05994965d870178a4fe10d5482f9d2e2"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/pip/pip_20.3.1_linux_noarch_any-stack_da935b90.tgz"
    version = "20.3.1"

  [[metadata.dependencies]]
    id = "pip"
    sha256 = "7b6b6ce9a02679c0f362645210b4a8c417f75cb2bb075d2843ae5aee01ca018e"
    source = "https://files.pythonhosted.org/packages/51/63/86e147c44335b03055e58a27c791d94fff4baaf08d67852f925ab9b90240/pip-20.3.2.tar.gz"
    source_sha256 = "aa1516c1c8f6f634919cbd8a58fc81432b0fa96f421a97d05a205ee86b07c43d"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/pip/pip_20.3.2_linux_noarch_any-stack_7b6b6ce9.tgz"
    version = "20.3.2"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"
