api = "0.7"

[buildpack]
  id = "paketo-buildpacks/pip"
  name = "Paketo Buildpack for Pip"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pip/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:pypa:pip:22.2.1:*:*:*:*:python:*:*"
    id = "pip"
    licenses = ["MIT", "MIT-0"]
    purl = "pkg:generic/pip@22.2.1?checksum=50516e47a2b79e77446f0d05649f0d53772c192571486236b1905492bfc24bac&download_url=https://files.pythonhosted.org/packages/46/28/addd7e66bb3af799d35a5dcbb79407b591a7ed674f4efd2bd8f930c40821/pip-22.2.1.tar.gz"
    sha256 = "9181f9951f215953c31998b83fbb33f5c1d327727545da3fde077ed305ab63f7"
    source = "https://files.pythonhosted.org/packages/46/28/addd7e66bb3af799d35a5dcbb79407b591a7ed674f4efd2bd8f930c40821/pip-22.2.1.tar.gz"
    source_sha256 = "50516e47a2b79e77446f0d05649f0d53772c192571486236b1905492bfc24bac"
    stacks = ["*"]
    uri = "https://deps.paketo.io/pip/pip_22.2.1_linux_noarch_bionic_9181f995.tgz"
    version = "22.2.1"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:pypa:pip:22.2.2:*:*:*:*:python:*:*"
    id = "pip"
    licenses = ["MIT", "MIT-0"]
    purl = "pkg:generic/pip@22.2.2?checksum=3fd1929db052f056d7a998439176d3333fa1b3f6c1ad881de1885c0717608a4b&download_url=https://files.pythonhosted.org/packages/4b/30/e15b806597e67057e07a5acdc135216ccbf76a5f1681a324533b61066b0b/pip-22.2.2.tar.gz"
    sha256 = "97bb6b2d79523a76aff67f93df6685117559979092572924931c010d705a4df4"
    source = "https://files.pythonhosted.org/packages/4b/30/e15b806597e67057e07a5acdc135216ccbf76a5f1681a324533b61066b0b/pip-22.2.2.tar.gz"
    source_sha256 = "3fd1929db052f056d7a998439176d3333fa1b3f6c1ad881de1885c0717608a4b"
    stacks = ["*"]
    uri = "https://deps.paketo.io/pip/pip_22.2.2_linux_noarch_bionic_97bb6b2d.tgz"
    version = "22.2.2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "pip"
    patches = 2

[[stacks]]
  id = "*"
