api = "0.7"

[buildpack]
  id = "paketo-buildpacks/pip"
  name = "Paketo Buildpack for Pip"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pip/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    checksum = "sha256:8a9e47b039a20d912f1a47749c532f2b4eaf55a7dd1f51deb797e1e990a3183d"
    cpe = "cpe:2.3:a:pypa:pip:26.0.0:*:*:*:*:python:*:*"
    id = "pip"
    licenses = ["MIT"]
    purl = "pkg:generic/pip@26.0.0?checksum=3ce220a0a17915972fbf1ab451baae1521c4539e778b28127efa79b974aff0fa&download_url=https://files.pythonhosted.org/packages/44/c2/65686a7783a7c27a329706207147e82f23c41221ee9ae33128fc331670a0/pip-26.0.tar.gz"
    source = "https://files.pythonhosted.org/packages/44/c2/65686a7783a7c27a329706207147e82f23c41221ee9ae33128fc331670a0/pip-26.0.tar.gz"
    source-checksum = "sha256:3ce220a0a17915972fbf1ab451baae1521c4539e778b28127efa79b974aff0fa"
    stacks = ["*"]
    uri = "https://artifacts.paketo.io/pip/pip_26.0.0_noarch_8a9e47b0.tgz"
    version = "26.0.0"

  [[metadata.dependencies]]
    checksum = "sha256:33d061028c839cdea072ed398be0cf9105132b954ddb1fd02506f578e8832f20"
    cpe = "cpe:2.3:a:pypa:pip:26.0.1:*:*:*:*:python:*:*"
    id = "pip"
    licenses = ["MIT"]
    purl = "pkg:generic/pip@26.0.1?checksum=c4037d8a277c89b320abe636d59f91e6d0922d08a05b60e85e53b296613346d8&download_url=https://files.pythonhosted.org/packages/48/83/0d7d4e9efe3344b8e2fe25d93be44f64b65364d3c8d7bc6dc90198d5422e/pip-26.0.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/48/83/0d7d4e9efe3344b8e2fe25d93be44f64b65364d3c8d7bc6dc90198d5422e/pip-26.0.1.tar.gz"
    source-checksum = "sha256:c4037d8a277c89b320abe636d59f91e6d0922d08a05b60e85e53b296613346d8"
    stacks = ["*"]
    uri = "https://artifacts.paketo.io/pip/pip_26.0.1_noarch_33d06102.tgz"
    version = "26.0.1"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "pip"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
